nblibs*
nbproject*
.DS_*
*~
.project
.classpath
.settings
.externalToolBuilders
.idea
.cache
.gradle
.vagrant
*.ipr
*.iws
*.iml
*.eml
cache.properties
nblib*
nbproject*
.DS_Store
cache.properties
target/
gradle.properties
